In [58]:
#importing all the libraries that will be made use of throughout this exercise
import pandas as pd
import numpy as np
import seaborn as sns

In [59]:
#importing the fuel data to be used for this exercise using the pandas method .read_csv()
fuel_data = pd.read_csv('fuel_ferc1.csv')
fuel_data

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [60]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [61]:
#To create a 1-D array that mirrors A_B =  [1,2,3,4,5,6,13, 21, 34] we can use either of the following
A.append(B)
A

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

In [62]:
A.extend(B)
A

[1, 2, 3, 4, 5, 6, [13, 21, 34], 13, 21, 34]

In [63]:
#To create identity matrices, we can use the np.eye(), np.identity() or create it using list literals
identity1 = np.identity(3)
identity1

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [64]:
#this groups the fuel cost per unit burned according to the fuel code using the groupby() function, and the mean() function is called to which presents the mean of the mean of the fuel cost and the fuel code as a series
fuel_data['fuel_cost_per_unit_burned'].groupby(fuel_data['fuel_type_code_pudl']).mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [65]:
fuel_data.describe() #this gives us an overall view of the statistical properties of the dataframe, from which the standard deviation and 75% quartile can be viewed for any column

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [66]:
fuel_data['fuel_qty_burned'].kurt()#using the kurtosis function on the fuel qty burned column

651.3694501337732

In [67]:
fuel_data['fuel_qty_burned'].skew() #using the skew function the fuel qty burned column

15.851495469109503

In [68]:
missing_values = fuel_data.isnull()
missing_values.sum()
#this gives 180 rows with missing values only in the fuel_unit column

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

total number of missing values is 180, and the percentage of missing rows aree calculated below

In [69]:
x = fuel_data['fuel_unit'].isnull().sum() #getting the number of rows of fuel unit that has missing values as an integer value
y = len(fuel_data.index)#getting the total number of rows of the dataframe

In [70]:
percent_missing = ((y-x)/y) * 100
percent_missing

99.39030586322528

the missing values are categorical because they are words that are repeated, and not integers. The can be filled with the mode imputation as below

In [71]:
fuel_data['fuel_unit'].fillna(fuel_data['fuel_unit'].mode()[0], inplace=True)

In [72]:
fuel_data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [73]:
#the data is grouped by the report year since that is the basis of the calculations, using the groupby fuction. The the average fuel cost is done by referencing the fuel cost per unit delivered column and then applying the mean() function to it
fuel_data['fuel_cost_per_unit_delivered'].groupby(fuel_data['report_year']).mean()
#we can see below that the year with the highest average fuel cost per unit delivered is 1997

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64